<%- include("partials/header"); -%>

<main>
    <div class="reports">
        <h1><%=country%> Reports</h1>
        <h2>Confirmed Cases</h2>
        <h3><%=confirmedCases%></h3>
        <h2>Recovered Cases</h2>
        <h3><%=recoveredCases%></h3>
        <h2>Deaths Cases</h2>
        <h3><%=deathCases%></h3>
    </div>
</main>

<%- include("partials/footer"); -%>